.home {
  /* Cards styling */
  .cards::-webkit-scrollbar {
    /* width: 0 !important; */
    height: 0 !important;
  }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.home .card-container-skeleton {
  /* Define the skeleton animation */
  animation-name: skeletonFade;
  animation-duration: 1.4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.home .card-container-skeleton .skeleton {
  --ant-skeleton-gradient-from-color: rgba(0, 0, 0, 0.06);
  --ant-skeleton-gradient-to-color: rgba(255, 255, 255, 0.15);
}

.home .card-container-skeleton .skeleton .item {
  background: linear-gradient(
    -45deg,
    var(--ant-skeleton-gradient-from-color) 25%,
    var(--ant-skeleton-gradient-to-color) 37%,
    var(--ant-skeleton-gradient-from-color) 63%
  );
  background-size: 500% 100%;
  animation: skeletonFade 1.4s ease infinite;
  /* background-position: 500% 100%; (commented out in the original code) */
}

/* Keyframes for skeletonFade animation */
@keyframes skeletonFade {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
